*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: 'Poppins', serif;
}
button{

    font-family: 'Poppins', serif;
}

header{

    display: flex;
    width: 90%;
    margin: auto;
    align-items: center;
}
.logo-container,.nav-links,.cart {

    display: flex;


}
.logo-container{

    flex: 1;
}
.logo{

    font-weight: 400;
    margin: 30px;

}
nav{

    flex: 2;
}
.nav-links{
    justify-content: space-around;
    list-style: none;
}
.nav-link {

    color: grey;
    font-size: 18px;
    text-decoration: none;

}

.cart{
    flex: 1;
    justify-content: flex-end;
}
.presentation{

    display: flex;
    width: 90%;
    margin: auto;
    min-height: 80vh;
    align-items: center;
}
.introduction{

    flex: 1;
}
.intro-text h1 {

    font-size: 44px;
    font-weight: 500;
    background: linear-gradient(to right, #494964, #6f6f89);
    -webkit-background-clip: text;
    -webkit-text-fll-color:transparent;
}

.intro-text p {


    margin-top: 5px;
    font-size: 22px;
    color: #585772;
}

.cta{

    padding: 50px 0px 0px 0px;
}
.cta-select{

    border:2px solid #c36cbb;
    background: transparent;
    color: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    font-size: 16px;

}

.cta-add{
    background: #c36cbb;
    width: 150px;
    height: 50px;
    cursor: pointer;
    border: none;
    color: white;
    font-size: 16px;
    margin: 30px 0px 0px 30px;
}
.cover img{

    height: 60vh;
    filter: drop-shadow(0px 5px 3px blue);
    animation: drop 1.5s ease;
}
.big{

    position: absolute;
    top: 0px;
    right: 0px;
    z-index: -1;
    opacity: 0.7;
    height: 90%;
    
}

.bigm{

    position: absolute;
    top: 25%;
    right: 14%;
    z-index: -1;
    opacity: 0.2;
    height: 65%;
    
}
.bigs{

    position: absolute;
    bottom: 0%;
    left: 40%;
    z-index: -1;
    opacity: 0.8;
    
    
}
.lap-select{

     width: 10%;
     display: flex;
     justify-content: space-around;
     position: absolute;
     right: 20%;
     opacity: 0.6;
}
@keyframes drop {

    0%{
        opacity: 0;
        transform: translateY(-80px);

    }
    100%{
        transform: translateY(0px);
        opacity: 1;

    }
}
@media screen and (max-width:1024px)
{
    .presentation{
        flex-direction: column;
    }
    .introduction{
        margin-top: 8vh;
        text-align: center;
    }
    .intro-text h1{
        font-size: 30px;
    }

    .cta{
        padding: 30px 0px 0px 0px;
        margin: 25px;
    }
    .lap-select{
        bottom: 5%;
        right: 50%;
        width: 50%;
        transform: translate(50%, 5%);
        display: flex;
    }
    .big,
    .bigm,
    .bigs
    {
        opacity: 0.2;
    }
}